<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dj.taotao.search.mapper.SearchItemMapper">
	<select id="getItemList" resultType="com.dj.taotao.pojo.SearchItem">
		SELECT
			a.id,
			a.title,
			a.sell_point,
			a.price,
			a.image,
			b.name AS category_name,
			c.item_desc
		FROM
			tb_item a
		LEFT JOIN tb_item_cat b ON b.id = a.cid
		LEFT JOIN tb_item_desc c ON c.item_id = a.id
		WHERE
			a. STATUS = 1;
	</select>
</mapper>